<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <img src="/Assets/images/about_me_pic.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 id="name">Viet Nguyen Hoang</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <p>Hello, my name is Viet Nguyen (Alex) Hoang, and currently I am a second year student at Centennial
              College. As an Artificial Intelligence enthusiast, I am pursuing the Advanced Diploma in Software
              Engineering Technology specialized in Artificial Intelligence. </p>
          </div>
        </div>
        <div class="col-md-12">
          <h6 id="resume_file"><a href="/Assets/files/Resume.pdf" target="_blank">My Resume</a></h6>
        </div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>