<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4" id="welcome_msg">Welcome to my Portfolio!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 id="mission_statement">"Innovation through Automation and Artificial Intelligence"</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <a id="learn_more" href="/about">>>Learn more about me</a>
          </div>
        </div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>