<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron" style="background-color:rgb(38, 179, 214);">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4" id="welcome_msg">Welcome to our Surveys Website</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <a id="learn_more" href="/about">>>Learn more about us</a>
          </div>
        </div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>