<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4" id="title">My Projects</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4 class="projectTitle">Complex Calculator WinForm-based</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="/Assets/images/project_01.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-7">
            <ul>
              <li>
                <h6>Planned, designed, developed, and tested the code</h6>
              </li>
              <li>
                <h6>Obtained desirable outcome</h6>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4 class="projectTitle">Smash Bug Web Game</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="Assets/images/project_02.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-7">
            <ul>
              <li>
                <h6>Researched, developed, tested</h6>
              </li>
              <li>
                <h6>Obtained desirable result</h6>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4 class="projectTitle">Image Gallery using Ajax</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="Assets/images/project_03.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-7">
            <ul>
              <li>
                <h6>Researched, developed, tested</h6>
              </li>
              <li>
                <h6>Obtained desirable result</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>