<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron" style="background-color:rgb(145, 94, 18);">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4" id="title">Our Services</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <ul>
              <li>AI Development</li>
              <li>General Programming</li>
              <li>Web Development</li>
              <li>Mobile Apps Development</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>